<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- https://bootswatch.com/flatly/ -->
    <link rel="stylesheet"
          href="../static/assets/css/bootstrap.min.css"
          th:href="@{./assets/css/bootstrap.min.css}"
    >
    <script type='text/javascript'
            src='../static/assets/js/bootstrap.bundle.min.js'
            th:src="@{./assets/js/bootstrap.bundle.min.js}"
    ></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <meta charset="UTF-8">
    <title>Library</title>
</head>

<body>
<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="index.html" th:href="@{/}">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="authors.html" th:href="@{/authors}">Authors</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Books</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="books.html" th:href="@{/books}">List</a>
                        <a class="dropdown-item" href="book_create.html" th:href="@{/books/new}">Create new</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="genres.html" th:href="@{/genres}">Genres</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="card border-primary mb-3">
    <div class="card-header">Hello!</div>
    <div class="card-body">
        <h4 class="card-title">Welcome to the library!</h4>
        <p class="card-text">Feel free to use the navigation bar (or button) to look what do we have here :)</p>
    </div>
</div>
</body>

</html>
